# Archivos a ignorar en el repositorio
#Link al repositorio
*.url

#Archivos de Blender
*.blend
*.blend1

# Archivos específicos de cada usuario
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Resultados construidos
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Caché/opciones de directorio de Visual Studio 2015
.vs/

# Archivos caché de Visual C++
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Perfil de Visual Studio
*.psess
*.vsp
*.vspx
*.sap

# Archivos caché de Visual Studio
*.[Cc]ache

# Mantener el directorio .cache
!*.[Cc]ache/

# Otros
ClientBin/
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
node_modules/
orleans.codegen.cs

# Archivos a ignorar de Visual Studio 6
*.plg
*.opt

# Manejadores de dependencia de paquetes
.paket/paket.exe
paket-files/

# Carpeta para teoría
Teoría/